{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="example-wrapper">
        Quick Create Spotify-PlayList By ArtistName
        {{ form(form) }}
    </div>
{% endblock %}
