{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container mt-3">
        Quick create Spotify-PlayList by artist-names.<br>
        To use this service, press the button below<br>
        <br>
        <div class="form-group row">
            <div class="col-sm-10">
                <a href="/auth_spotify" class="btn btn-primary">Authorization to Spotify</a>
            </div>
        </div>
    </div>
{% endblock %}
